
.mt-10{
    margin-top: 100px;
}
.top{
    padding: 0px;
}
.area-name h2{
    width: auto;
    margin-top: 50px;
    font-weight: 1000;
    padding: 15px;
}
.area-name h1{
    margin-left: 10px;
    width: auto;
    margin-top: 50px;
    font-weight: 1000;
    color: green;
    font-size: 60px;

}
.area-name{
    background-color: #faf1ed;
}
.area-name .explo{
    width: 500px;
    display: inline-flex;
}
.area-name .all-post{
    display: inline-flex;
    margin-left: 100px;
}
.area-name .all-post .button{
    padding: 12px;
    max-width: 180px;
}  

.area-name .combo{
    display: inline-flex;
    margin-left: 160px;
    padding-right: 10px;
    
}
.area-name .combo .dropdown button{
    padding: 12px;
    width: 180px;
} 
.area-name .combo .dropdown-menu{
    width: 180px;
}
.area-name .combo .dropdown-menu a{
    font-weight: 300;
    padding: 5px 2px 5px 50px;
}
.area-name .combo .dropdown-menu a:hover{
    background-color: #007bff;
    color: white;
}

.slide{
    display: inline-block;
}
.about{
    padding: 10px;
    margin: 0px 15px;
}
.info{
    display: inline-block;
}
textarea {

    overflow-y: scroll;
    height: 250px;
    width: 465px;
    resize: none; /* Remove this if you want the user to resize the textarea */
}

.carou{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    padding: 5px 0px;
  
}

/* carousel */
.services-info{
    height: auto;
    background-color: rgb(193, 232, 255);
    border-radius: 5px;
    margin-top: 20px;
}
.services-info .title {
    align-content: center;
    
}
.services-info .title h4{
    padding: 5px;
    text-align: center;
    font-weight: 600;
    background-color: #007bff;
    color: white;
    
}
.services-info p{
    padding: 0px 15px;
}

.services-info .all-btn{
    padding: 10px;
}
.services-info .all-btn button{
    display: block;
    margin: auto;
    width: 90%;
    font-weight: 400;
}
.pink{
    background-color: #faf1ed;
}
 /*Item*/
.card-deck .card{
    height: 255px;
    width: 195px;
}

.card-deck .card-title{
    font-size: 20px;
    font-weight: bold;
}


