.rv-post ul {
  list-style-type: none;
  margin: 0;
  padding: 5px 0px;
  overflow: hidden;
  background-color: rgb(228, 228, 228);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.rv-post .col ul {
  padding: 0px;
}
.rv-post .col {
  padding: 0px;
}

.rv-post li {
  float: left;
  min-width: 50%;
}

.rv-post li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px 0px;
  text-decoration: none;
}

.rv-post li a:hover {
  background-color: rgb(107, 105, 105);
  color: #ffffff;
  text-decoration: none;
}

.active {
  background-color: #4caf50;
  text-decoration: none;
}
.list-view {
  width: 100%;
}
.list-view .view_item {
  background: #fff;
  border: 1px solid #e2efe1;
  border-radius: 5px;
  margin: 10px;
  padding: 3px 5px;
  display: flex;
  align-items: center;
}

.list-view .view_item:last-child {
  margin-bottom: 0;
}

.list-view .view_item .vi_left {
  margin-right: 25px;
}
.list-view .view_item .vi_left img {
  height: auto;
  min-height: 70px;
  max-width: 100px;
}

.list-view .view_item .vi_right a:hover {
  text-decoration: none;
  color: rgb(16, 161, 47);
}
.list-view .view_item .vi_right a {
  text-decoration: none;
  color: black;
}
.list-view .view_item .vi_right .info {
  display: inline ;
}

.list-view .view_item .vi_right .info p{
  font-size: 10px;
  margin-top:5px;
  margin-left: 10px;
  display: inline-flex;
}
.view_item .title {
  font-weight: 600;
}
.col-md-4 .right_nav {
  border: solid #e2efe1 1px;
}
.right_nav ul li a{
  font-weight: 500;
  font-size: 20px;
  
}
.row h5 {
  margin-left: 10px;
  font-weight: 600;
  color: darkgreen;
}

.position-sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

/* stylelint-disable selector-list-comma-newline-after */
h3{
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.card-img-left {
  height: 100%;
  width: 250px;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

@media (min-width: 768px) {
  .h-md-250 { height: 200px; }
}

h3 a:hover {
  text-decoration: none;
  color: rgb(16, 161, 47);
}

h3 a{
  text-decoration: none;
  color: black;
  font-size: 27px;
}

.green{
  color: green;
}

.green:hover{
  color: darkgreen;
}

.card-body p{
  overflow: hidden;
  text-overflow: ellipsis;
}